/* Attribute rules */
// Only selectors by attribute go there 

*[hidden] {
  display: none; // Add the correct display in IE 10.
}

// external unprotected link
// a[href*="http"] {}

// external protected link
// a[href*="https"] {}

/* local link */
a[href^="#"] {
  
  // No point for separate visited state
  &:link,
  &:visited {
    color: hsl(var(--base-anchor-colour), 80%, 40%);
  }

  &:focus,
  &:hover {
    color: hsl(var(--base-anchor-colour), 80%, 50%);
    background-color: hsl(var(--base-anchor-colour), 100%, 95%);
  }

  &:active {
    color: hsl(var(--base-anchor-colour), 100%, 95%);
    background-color: hsl(var(--base-anchor-colour), 80%, 50%);
  }
}
/* END local link */

button,
input {

  &[type="button"],
  &[type="reset"],
  &[type="submit"] {
    -webkit-appearance: button; // Correct the inability to style clickable types in iOS and Safari.
  }

  // Remove the inner border and padding in Firefox.
  &[type="button"]::-moz-focus-inner,
  &[type="reset"]::-moz-focus-inner,
  &[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  // Restore the focus styles unset by the previous rule.
  &[type="button"]:-moz-focusring,
  &[type="reset"]:-moz-focusring,
  &[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}

abbr {

  &[title] {
    border-bottom: none; // remove the bottom border in Chrome 57-
    text-decoration: underline; // Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
    text-decoration: underline dotted; // Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
  }
}

input {

  &[type="checkbox"],
  &[type="radio"] {
    box-sizing: border-box; // Add the correct box sizing in IE 10.
    width: auto;
    border: none;
    // padding: 0; // Remove the padding in IE 10 but break custom radios
    cursor: pointer;
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    height: auto; // Correct the cursor style of increment and decrement buttons in Chrome.
  }

  &[type="search"] {
    -webkit-appearance: textfield; // Correct the odd appearance in Chrome and Safari.
    outline-offset: -2px; // Correct the outline style in Safari.

    &::-webkit-search-decoration {
      -webkit-appearance: none; // Remove the inner padding in Chrome and Safari on macOS.
    }
  }

  // &[type="color"] {}
  // &[type="date"] {}
  // &[type="datetime-local"] {}
  // &[type="month"] {}
}

/* 
  Make file input completely transparent due to limited styling, but not hide it for accesibility reasons. Its label gets "fileinput" class and styled as a button instead.
*/
label + input[type="file"] {
  opacity: 0;
}

button {
  &[type="button"] {
    color: var(--colour0-primary);
    background-color: var(--colour0-secondary);
    background-image: 
      radial-gradient(
        var(--colour0-secondary),
        var(--colour0-secondary),
        var(--colour0-primary)
      );

    &:focus {
      outline: var(--outline-default);
    }

    &:active {
      color: var(--colour0-secondary);
      background-color: var(--colour0-primary);
      background-image: 
      radial-gradient(
        var(--colour0-primary),
        var(--colour0-primary),
        var(--colour0-secondary)
      );
    }
  }

  &[type="submit"] {
  color: var(--colour-submit-primary);
  background-color: var(--colour-submit-secondary);
  background-image: 
    radial-gradient(
      var(--colour-submit-secondary),
      var(--colour-submit-secondary),
      var(--colour-submit-primary)
    );

  &:focus {
    outline: var(--outline-default);
  }

  &:active {
    color:var(--colour-submit-secondary);
    background-color: var(--colour-submit-primary);
    background-image: radial-gradient(
      var(--colour-submit-primary),
      var(--colour-submit-primary),
      var(--colour-submit-secondary)
    );
  }
  }
}

/* Attribute [class=""] rules */
/* END Attribute [class=""] rules */
/* Attribute [id=""] rules */
/* END Attribute [id=""] rules */

/* END Attribute rules */